/* Empty. Add your own CSS if you like */
.button-clear.button-assertive{
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 0px;
  padding-right:0px;
}

.item-button{
  padding-top: 0px;
  padding-bottom: 0px;
}

.list{
	margin-bottom: -0.05%;
}