<ion-view title="Prepare.Food">
  <ion-content padding="true">

    
 <div class="list">

    <a class="item item-thumbnail-left" ui-sref="recipes">
      <img src="http://www.newleafhealthcare.org/images/dmImage/standardImage/Healthy%20-%20Food%20-%20Preparation%20-%20Vegetables.jpg">
      <h2 style="padding-top:7%; font-weight:bolder; font-size:22px;">My Recipes</h2>
      <p>Create and Manage your Recipes.</p>
    </a>  
</div>


    
 <div class="list">

    <a class="item item-thumbnail-left" ui-sref="weeklyMeal">
      <img src="http://s3.amazonaws.com/grecipes/public/pictures/groups/703557/multicuisine.jpg">
      <h2 style="padding-top:7%; font-weight:bolder; font-size:22px;">Weekly Meals</h2>
      <p>Plan your Meals for a whole week.</p>
    </a>  
</div>



    
 <div class="list">

    <a class="item item-thumbnail-left" ui-sref="inventory">
      <img src="https://upload.wikimedia.org/wikipedia/commons/8/85/LG_refrigerator_interior.jpg">
      <h2 style="padding-top:7%; font-weight:bolder; font-size:22px;">Inventory</h2>
      <p>Check your stocks.</p>
    </a>  
</div>

 <div class="list">

    <a class="item item-thumbnail-left" ui-sref="grocery">
      <img src="http://www.bostonhomestayblog.com/grocery-shopping.jpg">
      <h2 style="padding-top:7%; font-weight:bolder; font-size:22px;">Groceries</h2>
      <p>What to buy?</p>
    </a>  
</div>

 <div class="list">

    <a class="item item-thumbnail-left" ui-sref="forums">
      <img src="../img/myrecipes.jpg">
      <h2 style="padding-top:7%; font-weight:bolder; font-size:22px;">Forums</h2>
      <p>Share your Recipes or Ask Questions.</p>
    </a>  
</div>



  </ion-content>
</ion-view>
