<ion-view title="Weekly Meal">
  <ion-nav-bar class="bar-assertive">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  
  <ion-content>
  <div class="list">

    <div class="item item-button-right">
      Monday
      <button class="button button-assertive" ng-click="showPopup()">
        <i class="icon ion-plus-circled"></i>
      </button>
    </div>

    <div class="item item-button-right">
      Tuesday
      <button class="button button-assertive">
        <i class="icon ion-plus-circled"></i>
      </button>
    </div>

    <div class="item item-button-right">
      Wednesday
      <button class="button button-assertive">
        <i class="icon ion-plus-circled"></i>
      </button>
    </div>

    <div class="item item-button-right">
      Thursday
      <button class="button button-assertive">
        <i class="icon ion-plus-circled"></i>
      </button>
    </div>

    <div class="item item-button-right">
      Friday
      <button class="button button-assertive">
        <i class="icon ion-plus-circled"></i>
      </button>
    </div>

    <div class="item item-button-right">
      Saturday
      <button class="button button-assertive">
        <i class="icon ion-plus-circled"></i>
      </button>
    </div>

    <div class="item item-button-right">
      Sunday
      <button class="button button-assertive">
        <i class="icon ion-plus-circled"></i>
      </button>
    </div>

  </div>

  </ion-content>
</ion-view>

